[project]
	description = ????2016-04-17
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cof (merfais)
[access "refs/for/refs/*"]
	read = group user/cof (merfais)
	push = group user/cof (merfais)
	label-Code-Review = -2..+2 group user/cof (merfais)
	label-Verified = -1..+1 group user/cof (merfais)
	rebase = group user/cof (merfais)
	removeReviewer = group user/cof (merfais)
	submit = group user/cof (merfais)
[access "refs/heads/*"]
	read = group user/cof (merfais)
	create = group user/cof (merfais)
	push = +force group user/cof (merfais)
	pushMerge = group user/cof (merfais)
[access "refs/tags/*"]
	push = group user/cof (merfais)
	push = +force group user/cof (merfais)
