@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.a-fadeIn {
    -webkit-animation: fadeIn 2s ease 0s 1 both;
    animation: fadeIn 2s ease 0s 1 both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.a-fadeInUp {
    -webkit-animation: fadeInUp 2s ease 0s both;
    animation: fadeInUp 2s ease 0s both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        -ms-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.a-fadeInDown {
    -webkit-animation: fadeInDown 2s ease 0s both;
    animation: fadeInDown 2s ease 0s both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.a-fadeInLeft {
    -webkit-animation: fadeInLeft 2.5s ease 0s 1 both;
    animation: fadeInLeft 2.5s ease 0s 1 both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    100% {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.a-fadeInRight {
    -webkit-animation: fadeInRight 2.5s ease 0s 1 both;
    animation: fadeInRight 2.5s ease 0s 1 both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

.a-zoomIn {
    -webkit-animation: zoomIn 2s ease 0s 1 both;
    animation: zoomIn 2s ease 0s 1 both;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    100% {
        opacity: 0
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    100% {
        opacity: 0
    }
}

.a-zoomOut {
    -webkit-animation: zoomOut 2s ease 0s 1 both;
    animation: zoomOut 2s ease 0s 1 both;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: none;
        transform: none
    }

    15% {
        -webkit-transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
        transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)
    }

    30% {
        -webkit-transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg);
        transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg)
    }

    45% {
        -webkit-transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)
    }

    60% {
        -webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg);
        transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg)
    }

    75% {
        -webkit-transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
        transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes wobble {
    0% {
        -webkit-transform: none;
        transform: none
    }

    15% {
        -webkit-transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg);
        transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)
    }

    30% {
        -webkit-transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg);
        transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg)
    }

    45% {
        -webkit-transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg);
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)
    }

    60% {
        -webkit-transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg);
        transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg)
    }

    75% {
        -webkit-transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg);
        transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.a-wobble {
    -webkit-animation: wobble 2s ease 0s 1 both;
    animation: wobble 2s ease 0s 1 both;
}


@-webkit-keyframes start {
	0%, 30% {
		opacity: 0;
		-webkit-transform: translate(0, 10px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, -8px);
	}
}
@-moz-keyframes start {
	0%, 30% {
		opacity: 0;
		-moz-transform: translate(0, 10px);
	}
	60% {
		opacity: 1;
		-moz-transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		-moz-transform: translate(0, -8px);
	}
}
@keyframes start {
	0%, 30% {
		opacity: 0;
		transform: translate(0, 10px);
	}
	60% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, -8px);
	}
}

.a-start {
    -webkit-animation: start 1.5s infinite ease-in-out;
	-moz-animation: start 1.5s infinite ease-in-out;
	animation: start 1.5s infinite ease-in-out;
}


.a-delay-0s5{
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.a-delay-1s{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.a-delay-1s5{
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.a-delay-2s{
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.a-delay-0s4{
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.a-delay-0s6{
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.a-delay-0s8{
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.a-delay-1s2{
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.a-delay-1s4{
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
.a-delay-1s6{
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.a-delay-1s8{
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s;
}
.a-delay-2s2{
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
.a-delay-2s4{
	-webkit-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
.a-delay-2s6{
	-webkit-animation-delay: 2.6s;
	animation-delay: 2.6s;
}
