body {
	padding: 0px;
	font-size: 10pt;
	font-family: arial;
	background: #FFFFFF;
	behavior: url(css/csshover.htc);
}

.topmenu {
	display: block;
	width: 220px;
	border: 2px solid #e4393c;
	margin: 0px;
	padding: 0px;
	background: #F8F8F8;
}

.toptitle {
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 11pt;
	font-weight: bold;
	color: #FFFFFF;
	background: #E4393C;
	padding-left: 20px;
}

.topmenu li {
	height: 30px;
	line-height: 30px;
	font-size: 10pt;
	list-style: none;
	text-align: left;
	padding-left: 8px;
	/*background-image: url(../img/右箭头.jpg);*/
	background-repeat: no-repeat;
	background-position: right;
}

.topmenu .lihover {
	border: 1px solid #DDDDDD;
	border-right: none;
	box-shadow: 0px 0px 8px #DDDDDD;
	-moz-window-shadow: 0px 0px 8px #DDDDDD;
	-webkit-box-shadow: 0px 0px 8px #DDDDDD;
	/*background-image: none;*/
	z-index: 1;
}

.topmenu .lihover i{
	display: none;
}

.topmenu .lihover .submenu {
	display: block;
	z-index: 2;
}

.topmenu .lihover span {
	display: inline-block;
	width: 10px;
	height: 30px;
	float: right;
	position: relative;
	margin-right: -5px;
	background: #F8F8F8;
	z-index: 5;
}

.topmenu li a {
	text-decoration: none;
	color: #313131;
}

.topmenu li a:hover {
	color: #E4393C;
	text-decoration: underline;
	font-weight: bold;
}

.topmenu li i {
	
	float: right;
	display: block;
	margin-right: 15px;
}


.submenu {
	display: none;
	width: 715px;
	position: absolute;
	left: 230px;
	top: 40px;
	/*z-index: 1;*/
	background: #F8F8F8;
	box-shadow: 0px 0px 8px #DDDDDD;
	-webkit-box-shadow: 0px 0px 8px #DDDDDD;
	-moz-window-shadow: 0px 0px 8px #DDDDDD;
	border: 1px solid #DDDDDD;
}

.subleft {
	width: 490px;
	float: left;
	margin: 5px;
}

.subright {
	width: 200px;
	float: left;
	margin: 5px;
}


.subleft dl {
	display: block;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 6px;
	overflow: hidden;
}

.subleft dl dt {
	display: block;
	float: left;
	width: 60px;
	height: 22px;
	line-height: 22px;
	text-align: right;
	padding-right: 15px;
}

.subleft dl dt a {
	color: #E4393C;
	font-weight: bold;
	text-decoration: underline;
	font-size: 10pt;
}

.subleft dl dd {
	display: block;
	overflow: hidden;
}

.subleft dl dd a {
	float: left;
	border-left: 1px solid #CCCCCC;
	display: block;
	color: #737373;
	font-size: 9pt;
	line-height: 14px;
	height: 14px;
	padding:0px 10px;
	margin: 4px 0px;
}

.subright dl{
	margin: 10px 20px;	
}

.subright dl dt{
	color: #E4393C;
	font-size: 10pt;
	font-weight: bold;
}

.subright dl dd{
	padding: 0px;
	margin: 3px 0px;
}

.subright dl dd a{
	font-size: 9pt;
	color: #737373;
	line-height: 22px;
}

.subright dl dd a:hover{
	color: #737373;
	font-weight: normal;
}
